<nav>
  <ul role="tablist" class="nav nav-tabs">
    <li role="tab"
        ng-class="{active: location.path() === '/user'}"
        ng-if="checkPerm('edit message templates') || checkPerm('edit user-driven message templates')">
      <a id="crm-msgadm-tab-user" ng-href="#/user" aria-controls="crm-msgadm-panel">{{:: ts('User-Driven Messages') }}</a>
    </li>
    <li role="tab"
        ng-class="{active: location.path() === '/workflow'}"
        ng-if="checkPerm('edit message templates') || checkPerm('edit system workflow message templates')">
      <a id="crm-msgadm-tab-workflow" ng-href="#/workflow" aria-controls="crm-msgadm-panel">{{:: ts('System Workflow Messages' )}}</a>
    </li>
  </ul>
</nav>
