<li>
  <form ng-click="$event.stopPropagation()" class="af-gui-field-select-in-dropdown form-inline">
    <label for="af-gui-tab-item-type">{{:: ts('Item type:') }}</label>
    <select id="af-gui-tab-item-type" class="form-control" ng-model="$ctrl.getSetItemType(tab)" ng-model-options="{getterSetter: true}" ng-options="t.id as t.label for t in $ctrl.itemTypes"></select>
  </form>
</li>
<li ng-if="tab.type !== 'divider'">
  <form ng-click="$event.stopPropagation()" class="af-gui-field-select-in-dropdown form-inline">
    <input class="form-control" ng-model="tab['title']" required title="{{:: ts('Title') }}" placeholder="{{:: ts('Title') }}">
  </form>
</li>
<li ng-if="tab.type !== 'divider' && tab.type !== 'heading'">
  <a href ng-click="$ctrl.pickIcon(tab)">
    <i class="crm-i fa-icons" role="img" aria-hidden="true"></i> {{:: ts('Choose icon') }}
  </a>
</li>

<li ng-if="tab.type === 'link'">
  <form ng-click="$event.stopPropagation()" class="af-gui-field-select-in-dropdown form-inline">
    <label for="af-gui-tab-link-target">{{:: ts('Links to:') }}</label>
    <select id="af-gui-tab-link-target" class="form-control" ng-model="$ctrl.getSetLinkTarget(tab)" ng-model-options="{getterSetter: true}" ng-options="t.id as t.label for t in $ctrl.linkTargets"></select>
  </form>
</li>
<li ng-if="tab.type === 'link' && $ctrl.getLinkTarget(tab) === 'path'">
  <form ng-click="$event.stopPropagation()" class="af-gui-field-select-in-dropdown form-inline">
    <input class="form-control" ng-model="tab.path" title="{{:: ts('CiviCRM path') }}" placeholder="{{:: ts('e.g. civicrm/logout') }}">
  </form>
</li>
<li ng-if="tab.type === 'link' && $ctrl.getLinkTarget(tab) === 'href'">
  <form ng-click="$event.stopPropagation()" class="af-gui-field-select-in-dropdown form-inline">
    <input class="form-control" ng-model="tab.href" title="{{:: ts('Url') }}" placeholder="{{:: ts('https://...') }}">
  </form>
</li>
<li ng-if="tab.type === 'link'">
  <a href ng-click="$ctrl.toggleNewWindow(tab)">
    <i class="crm-i" ng-class="$ctrl.isNewWindow(tab) ? 'fa-check-square-o' : 'fa-square-o'" role="img" aria-hidden="true"></i>
    {{:: ts('Open in new window') }}
  </a>
</li>

<li ng-if="$ctrl.searchDisplays[tabIndex].length">
<form ng-click="$event.stopPropagation()" class="af-gui-field-select-in-dropdown form-inline">
  <label for="af-gui-tab-count">{{:: ts('Count:') }}</label>
  <select id="af-gui-tab-count" class="form-control" ng-model="$ctrl.getSetCount(tabIndex)" ng-model-options="{getterSetter: true}">
    <option ng-value="-1">{{:: ts('None') }}</option>
    <option ng-value="$index" ng-repeat="disp in $ctrl.searchDisplays[tabIndex]">{{:: disp.defn.label }}</option>
  </select>
</form>
</li>

<li role="separator" class="divider"></li>
<li><a href ng-click="$ctrl.deleteTab(tabIndex)"><span class="text-danger"><i class="crm-i fa-trash" role="img" aria-hidden="true"></i> {{:: ts('Delete item') }}</span></a></li>
